<template name="home">
<div id="skrollr-body">
    {{> skrollrBackground}}
    <section id="intro" class="colored text-center">
        <header>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="row">
                        <a class="navbar-brand" href="{{pathFor 'home'}}">{{Config.name}}</a>
                        <div id="main-nav" class="navbar-collapse">
                            <ul class="social-links">
                                {{#unless User}}
                                <a id="home-login" href="{{pathFor route='atSignIn'}}"><li>{{_ "login2"}}</li></a>
                                {{/unless}}
                                {{#each socialMedia}}
                                <a href="{{url}}" target="_blank"><li class="fa fa-{{icon}}"></li></a>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="intro-well wow animated bounceIn">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <h1>{{Config.title}}</h1>
                        <h2 style="color:white;" class="hidden-xs">{{Config.subtitle}}</h2>
                        {{#if User}}
                        <a href="{{pathFor 'shopHome'}}" class="btn btn-success"><i class="fa fa-dashboard"></i> {{_ "dashboard"}}</a>
                        {{else}}
                        <a class="btn btn-success" href="{{pathFor 'shopHome'}}">{{_ "getstarted"}}</a>
                        {{/if}}
                    </div>
                    <!--                 <div class="col-lg-6 col-sm-6">
                                                <img class="img-responsive" src="/img/image-header1.png" alt="">
                    </div> -->
                </div>
            </div>
        </div>
    </section>
</div>
</template>
<template name="skrollrBackground">
<div
    id="skroll-background-intro"
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#intro"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">
    <div
        class="parallax-image parallax-image-100"
        data-anchor-target="#intro"
        data-bottom-top="transform: translate3d(0px, -80%, 0px);"
        data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
    <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
</div>
</template>
